<main id="login" class="vh-100">
    <div class="login-box__wrapper">
        <form action="/submit" method="post">
            <h1 class="mb-15 text-center grey py-15">Account Login</h1>

            <div class="form-group">
                <input type="email" name="email" id="email" placeholder="Email" class="form-control">
            </div>

            <div class="form-group mb-15">
                <input type="password" name="password" id="password" placeholder="Password" class="form-control">
            </div>

            <div class="form-group">
                <button type="submit">Sign In</button>
            </div>
            
            <div class="form-group text-center">
                <p class="mb-10">Forgot <a href="" class="primary">Password?</a></p>
                <p>Create an account? <a href="/signup" class="primary ">Sign up</a></p>
            </div>

        </form>
    </div>
</main>